{% extends 'core/authbase2.html'%}
{% load static %}
{% block title%}

forgot-password
{% endblock title%}





{% block card%}

<div class="user_card">
	<div class="d-flex justify-content-center">
		<div class="brand_logo_container">
			<img src="https://w7.pngwing.com/pngs/181/1009/png-transparent-letter-q-logo-area-text-symbol-brand-computer-quora-text-simple-trademark-thumbnail.png"
				class="brand_logo" alt="Logo">
		</div>
	</div>
   
   
		
	 
		
	<div class="d-flex justify-content-center form_container">
		<form> 
			<div class="mb-5">
				
				<h3 class="text-center">Forgot Password?</h3>
				<center>
					<p><i class="fa fa-lock fa-4x"></i></p>
				</center>
				
			   </div>
				
			
			<div class="input-group mb-5">
				<div class="input-group-append">
					<span class="input-group-text"><i class="fas fa-envelope"></i></span>
				</div>
				<input type="email"  class="form-control input_user" value="" placeholder="email address"
					required>
			</div>
			
	

				<div class="d-flex justify-content-center mt-3 login_container">
					<button type="button" name="button" class="btn login_btn"><a href="{% url 'signin'%}">Reset Your password</a></button>
				</div>
			
		</form>
	</div>
	<!-- <div class="form-group">
		<input name="recover-submit" class="btn btn-lg btn-primary btn-block"
			value="Reset Password" type="submit">
	</div> -->
	
</div>

{% endblock card%}




